*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
.box{
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.box_info{
    background-color: chartreuse;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
